h1{font-family : 'Marko One', serif;font-size: 1.5em; color: #993399;text-shadow: .2em .2em #D3D3D3; }
body {
    font-family: Verdana;
    
    }
span.price,#info p{font-family: Georgia;color:#808080;font-style: italic }
body,h2{font-size: 1em ;}
h2{color:#CC6600;font-stretch:ultra-expanded ;text-transform: uppercase;letter-spacing: 8px; }
dl> dt{color:#A0522D;;font-weight: bold;}
p.warning{color:#FF0000}
dd,p,span.label{color:black;font-style: normal}
strong{color:#FF6347;font-style: italic;font-weight: bold;}
#div1,h2{text-align: center;}
div li{list-style: none;}
li.c2{list-style-type: circle; }
li.c1{list-style-type: lower-roman; }
li.c3{list-style-type: disc;text-indent: 0.1em;list-style-position: inside;}
li.c4{
    list-style-image: url("images/bull.PNG");
    list-style-position: outside;
    }
    